@font-face
{
    font-family: 'Stalinist One';
    font-style: normal;
    font-weight: 400;
    src: url(../data/StalinistOne-Regular.ttf), url(../data/StalinistOne-Regular.eot), url(../data/StalinistOne-Regular.otf);
}